@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.container{
    display: grid;
    grid-template-columns: repeat(12 , 1fr);
    background-color: white;
}
.formulaire{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulaire .text{
    font-size: 16px;
    color: #555555;
    margin-bottom: 0;
}
.left{
    background-color:#fff;
    grid-column-end: span 3;
}
.left .entete{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.left .formulaire .saisie_mail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #F1F3F6;
    background: #F1F3F6;
    width: 100%;
    height: 50px;
    border-radius: 8px;
}
.left .formulaire .saisie_mail input{
    border: #F1F3F6;
    background: #F1F3F6;
}
.left .formulaire .icone{
    background: #FD7401;
    width: 50px;
    height: 45px;
    padding: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.left .formulaire .saisie_pwd{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #F1F3F6;
    background: #F1F3F6;
    width: 100%;
    height: 50px;
    border-radius: 8px;
}
.left .formulaire .saisie_pwd input{
    border: #F1F3F6;
    background: #F1F3F6;
}
.right{
    width: auto;
    background-color: #F1F3F6;
    grid-column-end: span 9;
}
.formulaire .pwd_oublie{

}
.formulaire .button input{
    width: 100%;
    height: 50px;
    cursor: pointer;
    margin-top: 20px;
} 
.formulaire .button .btn1 input{
    background-color: #FD7401;
    border: #FD7401;
    color: #fff;
    border-radius: 8px;
}
.formulaire .button .btn2 input{
    background-color: #fff;
    color: #FD7401;
    border: 1px solid #FD7401;
    border-radius: 8px;
}
@media screen and (max-width: 769px) {
    .left{
        grid-column-end: span 12;
    }
    .right{
        display: none;
    }
}